body{
    background-image: url('/img/fondoTravel5.png');
    min-height: 100vh;
}
.container-layout{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container-cities{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    height: 200px;
}
.title-cities{
    margin-top: 3rem;
    text-align: center;
}