.container-cities{
    width: 360px;
    margin-top: 50px;
    margin-bottom: 1rem;
    margin-left: 5px;
    margin-right: 0;
}
.title-cities{
    margin-top: 3rem;
    text-align: center;
}
.cities{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: center;
    margin: 20px;
}
.banner{
    width: 100%;
    height: 250px;
    background-image: url('/public/img/banner.png');
    background-repeat: no-repeat;
    background-size: 100%;
    color: bisque;
    text-shadow:2px 2px 2px rgb(167, 143, 114);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-bottom: 0;
}
.paragraph-cities{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5.5rem;
}
input[type=text] {
    width: 90%;
    box-sizing: border-box;
    border: 2px solid lightblue;
    border-radius: 20px;
    font-size: 16px;
    background-color: lightblue;
    background-image: url('/img/lupa.svg');
    background-size: 20px;
    background-position: 15px 15px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 60px;
    margin-left: 20px;
    margin-top: 0;
}
.message{
    text-align:left;
    color: #013654;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 12px;
}
.bg-notFound{
    width: 300px;
    height: 280px;
    background-image: url('/public/img/notFound2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: #013654;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items:normal;
    margin-top: 3rem;
    margin-left: 30px;
}

@media screen and (max-width: 850px) and (min-width: 768px) {
    input[type=text] {
        margin-left: 200px;
        width: 400px;
    }
    .container-cities{
        width: 800px;
    }
    .cities{
        width: 800px;
    }
    .bg-notFound{
        width: 400px;
        height: 370px;
        margin-left: 200px;
    }
    .message{
        font-size: 16px;
    }
}
@media only screen and (max-width: 992px)and (min-width: 851px){
    input[type=text] {
        margin-left: 200px;
        width: 400px;
    }
    .container-cities{
        width: 800px;
    }
    .cities{
        width: 800px;
    }
}
@media only screen and (min-width: 1024px){
    .banner{
        height: 550px; 
    }
    input[type=text]{
        margin-top: 2rem;
        width: 600px;
        margin-left: 400px;
    }
    .bg-notFound{
        width: 600px;
        height: 550px;
        margin-left: 400px;
    }
    .message{
        font-size: 22px;
        margin-left: 10px;
    }
    .container-cities{
        margin-top: 5rem;
        width: 100%;
    }
    .cities{
        margin-top: 5rem;
        margin-bottom: 3rem;
        width: 100%;
    }
    .paragraph-cities{
        font-size: 30px;
    }
    .title-cities{
        font-size: 60px;
        margin-bottom: 2.5rem;
    }
}