*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*---NAVBAR----*/
@font-face {
  font-family: 'myTinerary';
  src: url(/public/fonts/Madame.ttf);
}
.navbar-background{
  background-color: cornsilk;
}
.navbar-transparent{
  background-color: transparent;
}
.navbar-collapse{
  flex-grow: 0 !important;
  margin-right: 0;
}
.links-nav{
  font-size: 24px;
  color: black;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 1rem;
}
.links-nav:hover{
  font-size: 27px;
  font-weight: bold;
}
.btn-login{
  width: 50px;
  height: 40px;
  font-size: 10px;
  background-color: #0166a4;
  border: #0166a4 1px solid;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #757576;
}
.logo{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.logo-font{
  font-family:'myTinerary' ;
  font-weight: 700;
  font-size: 32px;
  line-height: 42.56px;
  color: #ff9900;
  width: 183px;
  height: 43px;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
}
.logo-transparent{
  font-family:'myTinerary' ;
  font-weight: 700;
  font-size: 32px;
  line-height: 42.56px;
  color:black;
  width: 183px;
  height: 43px;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
}
.img-login{
    width: 15px;
    height: 15px;
}
.rotate-left{
  width: 15px;
  height: 15px;
  font-weight: bold;
}
@media only screen and (min-width: 1024px){
  .links-nav{
    margin-left: 10px;
    margin-right: 1rem;
  }
  .btn-login{
    padding: auto;
    width: 100px;
    height: 50px;
    right: 0;
    font-size: 22px;
    font-weight: 500;
  }
  .img-login{
    width: 18px;
    height: 18px;
  }
  .rotate-left{
    width: 18px;
    height: 18px;
  }
}
/*----CAROUSEL----*/
.container-carousel{
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel{
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  justify-content: center;
}
.card-carousel{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7rem;
  margin: 3px;
}
.titulo-carousel{
  text-align: center;
  margin-bottom: 3.5rem;
  font-weight: 700;
  font-size: 30px;
}
.btn-card{
  position: absolute;
  bottom:5px;
  left:5px;
  width: 35%;
  height: 20px;
  border-radius:10px;
  color:white;
  font-size: 10px;
  text-align: center;
  padding: 1px;
  font-weight: 700;
}
.card-img{
  width: 7rem;
  height: 8.2rem;
}
.card-title-polaroid{
  font-size: 15px;
  color:black;
  text-shadow:1px 1px 1px #ff9900;
  font-weight: 700;
}
.arrow-carousel{
  font-size: 40px;
  font-weight: bold;
  height:2.2rem;
  width: 2.2rem;
  background-color: cornsilk;
  border-radius: 50%;
  cursor: pointer;
}
.arrow-carousel:hover{
  font-size: 40px;
  height:2.5rem;
  width: 2.5rem;
  background-color: #ff9900;
  font-weight: bold;
}
@media only screen and (min-width: 600px){
  .titulo-carousel{
    margin-bottom: 1rem;
  }
  .container-carousel{
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 1024px){
  .carousel{
    width: 390px;
    height: 360px;
    margin-top: 1rem;
  }
  .card-carousel{
    width: 10rem;
    margin: 3px;
  }
  .card-img{
    width: 10rem;
    height: 11rem;
  }
  .titulo-carousel{
    margin-top: 1rem;
  }
  .arrow-carousel{
    background-color: transparent;
  }
  .arrow-carousel:hover{
    background-color: transparent;
  }
}
/*----FOOTER---*/
.footer {
  padding: 0 0 50px 0;
  background-image:url('/img/footer3.1.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: auto;
  bottom: 0;
  flex-grow: 0;
}
.footer ul{
  list-style-type: none;
}
.footer h4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.address-footer{
  text-align: center;
}
.links-footer{
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  margin-top: 2rem;
}
.links-footer:hover{
  color:#4741d7
}
.social-icon {
  display: inline-block;
  margin-left: 14px;
}
.social-icon a {
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.363);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.822);
  margin-top: 1rem;
}
.social-icon a::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.iframe{
  width: 300px;
  height: 200px;
  border: 0;
  margin-top: 1rem;
}
@media screen and (max-width: 850px) and (min-width: 768px) {
  .iframe{
    width: 200px;
    height: 130px;
    margin-top: 5px;
    margin-left: 25px;
  }
}
@media only screen and (min-width: 1024px){
  .social-icon a {
    width: 40px;
    height: 40px;
    margin-top: 1.5rem;
    margin-left: 20px;
  }
  .social-icon a img {
    width: 50%;
  }
  .social-icon a::before {
    width: 40px;
    height: 40px;
  }
  .iframe{
    width: 300px;
    height: 150px;
  }
  .address-footer{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    margin-left: 8rem;
  }
  .footer{
    height: 300px;
  }
}
.container-layout{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*---footer cities----*/
.footer-cities{
  padding: 0 0 50px 0;
  background-image:url('/img/footer-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: auto;
  bottom: 0;
  flex-grow: 0;
}
.title-footer-cities{
  font-family: 'myTinerary';
  margin-top: 1rem;
  font-size: 30px;
}
.footer-cities h4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.social-icon-cities{
  display: inline-block;
  margin-left: 14px;
  margin-top: 1rem;
}
.social-icon-cities a {
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.363);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.822);
}
.social-icon-cities a::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon-cities a:hover::before {
  transform: scale(1);
}
.social-icon-cities a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon-cities a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.footer-paragraf{
  margin-top: 1.5rem;
  margin-bottom: 0;
}
.address{
  margin-top: 1rem;
  text-align: center;
}
@media screen and (max-width: 850px) and (min-width: 768px) {
  .social-icon-cities a {
    width: 40px;
    height: 40px;
    margin-top: 3px;
    margin-left: 17px;
  }
  .footer-cities{
    margin-top:7rem;
  }
}

@media only screen and (min-width: 1024px){
  .social-icon-cities{
    margin-top: 3rem;
  }
  .social-icon-cities a {
    width: 50px;
    height: 50px;
    margin-top: 3px;
    margin-left: 50px;
  }
  .social-icon-cities a::before {
    width: 50px;
    height: 50px;
  }
  .social-icon-cities a img {
    width: 50%;
  }
  .title-footer-cities{
    font-size: 50px;
  }
  .footer-cities ul{
    margin-top: 2rem;
  }
  .address{
    margin-top: 2rem;
    text-align: left;
    margin-left: 6rem;
  }
}
/*----CARD CITIES----*/
.card-cities{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  margin: 10px;
}
.card-cities:hover{
  filter: grayscale(0.5);
  /*border: black 4px solid;*/
  box-shadow: 5px 5px 5px 5px #888888;
  box-shadow: 0 0 2px 3px rgba(0, 140, 186, 0.5);
}
.card-img-cities{
  width: 100%;
  height: 15rem;
}
.card-title-cities{
  font-size: 24px;
  color:black;
  text-shadow: 2px 1px 2px rgb(238, 203, 160);
 /* text-shadow: 2px 1px 2px #ed8a00;*/
  font-weight: 700;
}
.location-img{
  width: 12px;
  height: 12px;
  margin-top: 0;
  color: black;
}
.card-loc{
  color:black;
  text-shadow: 2px 1px 2px rgb(238, 203, 160);
  font-weight: 500;
}
.btn-card-cities{
  position: absolute;
  bottom:5px;
  left:5px;
  width: 40%;
  height: 30px;
  border-radius:10px;
  color:white;
  font-size: 15px;
  text-align: center;
  padding: 1px; 
}

@media only screen and (min-width: 1024px){
  .card-cities{
    display: flex;
    flex-direction: row;
  }
}

/*-----DETAILS-----*/
.container-itineraries{
  width: 360px;
  
  margin-top: 50px;
  margin-bottom: 0.5rem;
}
.itineraries{
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  justify-content: center;
}
.btn-bg-details{
  position: absolute;
  bottom:200px;
  left:120px;
  width: 35%;
  height: 30px;
  border-radius:10px;
  background-color: rgb(79, 2, 92);
  color:white;
  font-size: 16px;
  text-align: center;
  padding: 1px;
  font-weight: 700;
  z-index:1; 
  cursor: pointer;
}
.btn-bg-details:hover{
  background-color: rgb(130, 3, 155);
  color:white;
}
.title-details{
  font-size: 30px;
  color:white ;
  text-shadow:3px 3px 5px rgb(130, 3, 155);
  font-weight: bold;
  width: 300px;
}
.text-bg {
  text-align: center;
  color: white;
}

@media screen and (max-width: 850px) and (min-width: 768px) {
  .btn-bg-details{
    bottom: 130px;
    left: 290px;
    width: 200px;
    font-size: 18px;
    height: 40px;
  }
  .title-details{
    font-size: 45px;
    width: 400px;
  }
  .container-itineraries{
    width: 800px;
  }
  .itineraries{
    width: 800px;
  }
}
@media only screen and (max-width: 992px)and (min-width: 851px){
  .container-itineraries{
    width: 800px;
  }
  .itineraries{
    width: 800px;
  }
}
@media only screen and (min-width: 1024px){
  .btn-bg-details{
    bottom:50px;
    width: 200px;
    left: 670px;
    font-size: 18px;
    height: 40px;
  }
  .title-details{
    font-size: 45px;
    width: 400px;
  }
  .container-itineraries{
    margin-top: 1rem;
    width: 100%;
  }
  .itineraries{
    margin-top: 5rem;
    margin-bottom: 3rem;
    width: 100%;
    
    margin-bottom: 3rem;
  }
}

/*----ITINERARIES----*/
.card-itineraries {
  margin-bottom: 10rem;
  margin-left: 1.5rem;
  width: 25rem;
  height: max-content;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  background-color: rgb(248, 200, 248);
}
.title-card-itineraries{
  font-size: 20px;
  font-weight: 600;
  color:rgb(130, 3, 155);
  text-align: center;
  width: 100%;
  height: 30px;
  margin-top: 10px;
}
.card-image {
  width: 95%;
  height:250px;
  margin-left: 8px;
  border-radius: 8px;
}
.card-image:hover{
  transform: scaleX(-1);
}
.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
}
.favorite-count {
  font-size: 14px;
  color:rgb(130, 3, 155);
}
.expand-button {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.arrow {
  font-size: 20px;
  color: rgb(130, 3, 155);
}
.expanded-content {
  padding: 10px;
  background-color: #f9f9f9;
  /*background-color: rgb(248, 200, 248);*/
  font-size: 14px;
  color: #333;
}
.bg-notFound-itineraries{
  width: 300px;
  height: 280px;
  background-image: url('/public/img/notFound3.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: rgb(130, 3, 155);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items:normal;
  margin-top: 3rem;
  margin-left: 30px;
  margin-bottom: 3rem;
}
.message-itineraries{
  text-align:left;
  color: rgb(130, 3, 155);
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 12px;
}
@media screen and (max-width: 850px) and (min-width: 768px) {
  .bg-notFound-itineraries{
    width: 400px;
    height: 370px;
    margin-left: 200px;
  }
  .message-itineraries{
    font-size: 16px;
  }
  .title-card-itineraries{
    font-size: 30px;
  }
}
@media only screen and (min-width: 1024px){
  .bg-notFound-itineraries{
    width: 600px;
    height: 550px;
    margin-left: 400px;
    margin-bottom: 1rem;
  }
  .message-itineraries{
    font-size: 22px;
    margin-left: 10px;
  }
  .card-itineraries {
    width: 30rem;
    margin: 1rem;
    
  }
  .card-image {
    width: 95%;
    height: 400px;
    margin-left: 13px;
    
  }
  .title-card-itineraries{
    font-size: 30px;
  }
  .favorite-count {
    font-size: 20px;
  }
  .arrow {
    font-size: 25px;
  }
}
/*-----CONTENT-ITINARARIES----*/
.container-content{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.img-content{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.paragraf-tags{
  font-size: 9px;
  
}
.btn-bg-content{
  background-color: rgb(130, 3, 155);
  color: white;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}
@media screen and (max-width: 850px) and (min-width: 768px) {
  .align-text{
    text-align: center;
  }
  .paragraf-tags{
    width: 110px;
    word-wrap: break-word;
  }
}
@media only screen and (min-width: 1024px){
  .img-content{
    width: 50px;
    height: 50px;
  }
  .align-text{
    text-align: center;
  }
  .paragraf-tags{
    width: 125px;
    word-wrap: break-word;
  }
}

