@font-face {
  font-family: 'myTinerary';
  src: url(fonts/Madame.ttf);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*.container-nav{
  display: flex;
  justify-content: space-between;
  width: 1291px;
  height: 64px;
  margin-top: 32px;
  margin-left: 200px;
  margin-right: 200px;
}
/* cambiar tipo de letra */
/*nav.navbar ul.navbar-nav li .nav-link  {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 700;
  padding: 0;
}
nav.navbar ul.navbar-nav li {
	width: 62px;
	height: 32px;
	padding: 0;
}*/
.navbar-collapse{
  flex-grow: 0 !important;
}
.links-nav{
  font-size: 24px;
  color: black;
  font-weight: 700;
}
.btn-login{
	width: 100px;
	height: 50px;
  font-weight: 700;
}
.logo{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.logo-font{
  font-family:'myTinerary' ;
  font-weight: 700;
  font-size: 32px;
  line-height: 42.56px;
  color: #ff9900;
  width: 183px;
  height: 43px;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
}
.img-login{
	width: 21px;
	height: 20px;
}
@media only screen and (min-width: 1024px){
  .links-nav{
    margin-left: 10px;
  }
  .btn-login{
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    width: 159px;
	  height: 64px;
    right: 0;
    font-size: 24px;
  }
}
/*----CAROUSEL----*/
.container-carousel{
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel{
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  justify-content: center;
}
.btn-card{
  position: absolute;
  bottom:5px;
  left:5px;
  width: 30%;
  height: 20px;
  border-radius:10px;
  color:white;
  text-transform:uppercase;
  font-size: 10px;
  text-align: center;
  padding: 1px;
}
.card-carousel{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7rem;
  margin: 3px;
}
.card-img{
  width: 7rem;
  height: 8.2rem;
}
.card-title-polaroid{
  font-size: 15px;
  color: #ed8a00;
}
.arrow{
  font-size: 30px;
  font-weight: bold;
}
.titulo-carousel{
  text-align: center;
  margin-bottom: 3rem;
}

@media only screen and (min-width: 1024px){
  .carousel{
    width: 390px;
    height: 360px;
  }
  .card-carousel{
    width: 10rem;
    margin: 3px;
  }
  .card-img{
    width: 10rem;
    height: 11rem;
  }
}

/*-----HOME----*/
.container-home{
  width: 360px;
  margin-top: 100px;
  background-image: linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%);
}
.card-home{
  width: 360px;
  height: 450px;
  margin-bottom: 3rem;
  border-color: white;
  margin-top: 10px;
}
.card-header-home{
  height: 64px;
  font-weight: 700;
  font-size: 24px;
  line-height: 63px;
  color: black;
  background-color: #FFFFFF;
  border: #FFFFFF;
  text-align: center;
}
.card-text-home{
  font-size: 15px;
  font-weight: 600;
  line-height: 31px;
  color: grey;
  margin-top: 2rem;
}
.btn-card-home{
  position: absolute;
  bottom:5px;
  width: 300px;
  height: 50px;
  background-color: #4F46E5;
  font-size: 20px;
  font-weight: 600;
  line-height: 31px;
  color: #FFFFFF;
  border-radius: 8px;
  text-align: center;
}
.text-slogan{
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #ff9900;
}
@media only screen and (min-width: 1024px){
  .container-home{
    width: 1200px;
    height: 500px;
    margin-top: 350px;
    margin-left: 200px;
    margin-right:200px;
  }
  .card-home{
    width: 700px;
    height: 450px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .card-header-home{
    font-size: 48px;
  }
  .card-text-home{
    font-size: 20px;
  }
  .btn-card-home{
    width: 340px;
    height: 64px;
    font-size: 24px;
    padding: 16px;
  }
}
/*----FOOTER---*/
.container-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
  width: 1200px;
  height: 200px;
  margin-left: 200px;
  margin-right:200px;
}